 #text {
 font-family: Arial;
 font-size: 15px;
 color:grey;
 }

 div {
 background-color:#f7f5f2;
 width:850px;
 height:900px;
 padding-left:350px;
 font-family:Arial;
 
 }
 hr  {
    width: 550px;
    height: 2px; 
	background:grey;
    border: 0; 
    margin: 5px 0 5px 0; 
}